
<body>

<header role ="banner">
  <div class="row presentation">
      <div class="col-md-6 col-md-offset-2 text-center">
          <h1>WebDeveloppeur</h1>
          <h1 class="decaler">Ruby On Rails</h1>
      </div>
      <div class="col-md-4">
          <%= link_to image_tag("moi.png", alt: "Sylvio Watson", :class =>"photo_me") %>
      </div>
    </div>
</header>

<section role="main" class="row">
  <article role="article" class="col-xs-12 col-sm-6 col-md-4 formation">
    <h2>FORMATION</h2>
    <p class="intitule">2016 : <span>Formation Developper Web</span> [ ruby on rails]</p>
    <hr>
    <p class="intitule">2016 : <span>Formation Developper Web</span> [ 3wa Academy(75) ]</p>
    <hr/>
    <p class="intitule">2005 : <span>BTS/DUT : conducteur de travaux publics,  route, canalisation, terrassement </span></p>
    <hr/>
    <p class="intitule">2000 : Cap-Bep conducteur d'engin de travaux publics</p>
    <hr/>
    <p class="intitule">1997 : divers formation de secours (afps,pse1,pse2)</p>
    <hr/>
  </article>


  <article role="article" class="col-xs-12 col-sm-6 col-md-4 experience">
    <h2>EXPERIENCES</h2>
      <h3>2016-2017 : divers site en cours de codage</h3>
      <p>Formation <a href="https://3wa.fr/">3wa academy</a></p>
      <hr/>
      <h3>2013 : cours <a href="https://openclassrooms.com/">openclassroom</a></h3>
      <p>html, css, js, java, ruby, jquery, ajax, php ,mysql ,symfony ,laravel</p>
      <hr/>
      <h3>2000 - 2013 : chef de chantier enrobées</h3>
      <p>conducteur d'engin de travaux, chef de chantier enrobées(goudron),Management d'une équipe de 10 personnes </p>
      <hr/>
      <h3>1997 - 2000</h3>
      <p>Engager volontaire armee de terre, services de sante au 1er regiment medicale Metz(57)</p>
      <hr/>
  </article>  

  <article role="article" class="col-xs-12 col-sm-6 col-md-4 hobbies">
    <h2>DIVERS</h2>
    <h3>Hobbies</h3>
      <p>Informatique</p>
      <p>Football ,formule 1, rugby , velo </p>
      <p>Musique : mao,Pro tools, fl studio</p>
      <p>Code</p>
        <hr/>
    <h3>Informations Complémentaires</h3>
      <p>39 ans</p>
      <p>Permis b,c</p>
      <p>Anglais  - parlé et lu niveau moyen</p>
      <p>Marié, 3 enfants</p>
      <hr/>
  </article>
</section> 
</body>

</html>

